@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@10;600;500&display=swap');

*{
    box-sizing: border-box;   
    margin: 0; 
    padding: 0;
   

}

body{
    background-color: lightblue;
    
}

ul{
    list-style-type: none;
    background-color: darkcyan;
    padding: 10px;
    width: 300px;
}

.item-menu{
    display: inline;
    padding: 10px;
}

h1{
    background-image: url(./Imagenes/perros.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: 50%;
    padding: 100px 20px;
    margin: 40px 0px;
    height: 500px;
    text-align: center;
    font-weight: 600;
    font-size: 4em;
    text-transform:uppercase;
    text-shadow: 
        5px 5px whitesmoke;
    
}

.tarjeta {
    max-width: 300px;
    border: 2px solid darkgreen;
    margin: 50px auto;
    box-shadow: 3px 3px 10px blue;  
} 

.img-tarj{
    width: 100%;
    
}

span{
    background: linear-gradient(0% red, 100% blue);
}

/*

padding -> Relleno

*/